<!doctype html>
<html>
<head>

    <title>Application Form</title>
    <link rel="stylesheet" href="/static/styles.css" type="text/css" />
    
</head>

<body>

    <h1>Application Form</h1>
    
    <p>This is the application form. Please complete all fields and submit</p>
    
    <br>
    
    <form action="/application" method="POST">
    
        <label>First Name: 
            <input type="text" name="firstname">
        </label>
        
        <br>
        
        <label>Last Name: 
            <input type="text" name="lastname">
        </label>    
        
        <br>
        
        <label>Salary Requirement: 
            <input type="number" name="salary">
        </label>            
        
        <br>
        
        <label>
            <select name="position">
                <option value = "software engineer">Software Engineer</option>
                <option value = "qa engineer">QA Engineer</option>
                <option value = "product manager">Product Manager</option>
            </select>
        </label>
        
        <br>
        
        <input type="submit">
        
    </form>
</body>
</html>